---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <style>
      .dots {
        background-image: radial-gradient(#fff1 1px, transparent 1px);
        background-size: 64px 64px;
      }
    </style>
  </head>

  <body class="flex min-h-dvh p-10">
    <main
      class="dots grid min-h-full w-full min-w-72 grid-rows-3 gap-5 rounded-2xl border border-base-300 bg-base-200 p-5 shadow-inner sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
      <article class="card border border-neutral bg-base-100">
        <div class="card-body p-4">askd</div>
      </article>
    </main>
  </body>
</html>
